# Dependencies
node_modules

# Build output
dist
dist-ssr
*.local

# Environment variables
.env
.env.*
!.env.example
!.env.template


# IDE & OS files
.vscode/
.idea/
.DS_Store

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
